@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodyIndice{
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../assets/base-fondo-indice-2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;

}
body{
    font-family: "Inter", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../assets/base-fondo-general.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}
/**inicio de header*/
header{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;

}
.logoAros{
    display: flex;
    justify-content: center;
    padding: 0.5rem;

}
.navBar{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1rem;
    padding-left: 4rem;

}
.navBar li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #EFDEDE;
    font-size: 24px;
    
}
/**fin de header*/
/**inicio de main*/

.cuerpoIndice{
    width: 100%;
}
.indice{
    display: none;
}

.seccionArticulos{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 425px);
    grid-template-rows: repeat(3, 25rem);
    grid-template-areas: 
    "articulo1 articulo2 articulo2"
    "articulo3 articulo3 articulo4"
    "articulo5 articulo5 articulo5"
    ;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    padding: 2rem;
    text-transform: capitalize;
}
.articulo1{
    background-color: red;
    grid-area: articulo1;
    position: relative;
    text-align: center;
}
.articulo1 img{
    width: 100%;
    height: 100%;
}
.articulo1 h2{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 1.4rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo1 h3{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}

.articulo2{
    background-color:green;
    grid-area: articulo2;
    position: relative;
    text-align: center;
}
.articulo2 img{
    width: 100%;
    height: 100%;
}
.articulo2 h2{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 1.4rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo2 h3{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo3{
    background-color: blue;
    grid-area: articulo3;
    position: relative;
    text-align: center;
}
.articulo3 img{
    width: 100%;
    height: 100%;
}
.articulo3 h2{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 1.4rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo3 h3{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo4{
    background-color: yellow;
    grid-area: articulo4;
    position: relative;
    text-align: center;
}
.articulo4 img{
    width: 100%;
    height: 100%;
}
.articulo4 h2{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 1.4rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo4 h3{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo5{
    background-color: orange;
    grid-area: articulo5;
    position: relative;
    text-align: center;
}
.articulo5 img{
    width: 100%;
    height: 100%;
}
.articulo5 h2{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 1.4rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}
.articulo5 h3{
    width: 100%;
    position: absolute;
    color: #6B6965;
    bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    font-weight: 300;
}

/**fin de main*/

/**inicio de footer*/
.footerIndex{
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: 0;
    background-color: #D7D2CA;
    bottom: 0;
    position: fixed;
}

footer{
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: 0;
    background-color: #D7D2CA;
    bottom: 0;
}

.navFooter{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 8rem;
}
.navFooter li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #6B6965;
    padding-left: 3.1rem;

}
.navFollow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.1rem;
}
.navFollow a img{
    width: 1.8rem;
    height: 1.8rem;
}
.textoPpal{
    display: none;
}
/**fin de footer*/